body{
    margin:0;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fa9483;
  }

  #navLogo
  {
      float: left;
      height: 45px;
      width: 45px;
  }

  #banner
  {
      height: 25vh;
      background-color: #2D4057;
  }

  #bannerLogo
  {
      padding-top: 1vh;
      height: 150px;
      width: 150px;
  }

  #bannerText
  {
      color: white;
  }

  #registerButton
  {
    background-color: #fa9483;
    border: none;
    color: white;
    padding: 5px 30px;
    margin-top: 8vh;
    text-align: center;
    font-size: 5vh;
    width: 40%;
  }

  #p2Banner
  {
    position: absolute;
    height: 15vh;
    width: 100vw;
    top: 0;
    background-color: #2D4057;
  }

  #p2Heading
  {
    color: white;
    font-size: 4.5vh;
    text-align: center;
    padding-top: 4vh;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .homeIcons
  {
    height:20vh;
    width: 20vh;
  }

  .item
  {
    margin-left: 16.33vw;
    margin-top: 2vh;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-size: 5vh;
    width: 20vh;
    font-family: Arial, Helvetica, sans-serif;
  }

  .caption 
  {
    display: block;
  }

  .page
  {
    position: relative;
    height: 100vh;
  }