$body-bg-color: #ECECEC;
$header-bg-color: #2D4057;
$card-bg-color-o: #FA9483;
$card-bg-color-g: #4097AA;
$container-bg-color: #FFF;
$container-shadow: 2px 2px 4px 0 rgba(0,0,0,0.15);

body
{
    background-color: $body-bg-color;
}
.container
{
    background-color: $card-bg-color-o;
    box-shadow: $container-shadow;
}
.pageHeader
{
    background-color: $header-bg-color;
    height: 100px;
    font-size: 60px;
    color: $body-bg-color;
    padding-left: 50px;
}
.dashboardCardData
{
    background-color: $body-bg-color;
    margin-bottom: 10px;
}

.angularTest{
    background-color: red;
}

#occupiedHeader{
    width: max-content;
}

#filterCard{
    width: 500px;
    margin-left: 30px;
}

// https://stackoverflow.com/questions/41646011/how-to-change-the-border-color-of-bootstrap-table-using-inline-css
table.table-hover{
    border:1px solid $card-bg-color-o;
    margin-bottom: auto;
  }
table.table-hover > thead > tr > th{
    border:1px solid $card-bg-color-o;
}
table.table-hover > tbody > tr > td{
    border:1px solid $card-bg-color-o;
}

#propertyCard
{
    float: right;
    margin-right: 30px;
}
#clientCard
{
    float: right;
    margin-right: 30px;
}

 td a { 
    display: block;
    color: black;
    text-decoration: none !important;
 }

 td a:hover{
     color: black;
 }